@tailwind base;
@tailwind components;
@tailwind utilities;

.page-num {
  padding: 8px 15px;
  border-radius: 3px;
  border-color: red;
  cursor: pointer;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #5f5f8c;
}

.page-num:hover {
  background-color: #73ff0f;
  color: white;
}
.active {
  background-color: #73ff0f;
}
